{% extends "layouts/app.html" %} 

{% load static %}
{% block managementcreate %}
<div class="container">
    <h1>Update SMS</h1>
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="schoolmgtschoolID">ID:</label>
            <input type="number" class="form-control" id="schoolmgtschoolID" name="schoolmgtschoolID" value="{{management_schools.schoolmgtschoolID}}" required>
        </div>
        <div class="form-group">
            <label for="school_id">SchoolID:</label>
            <input type="number" class="form-control" id="school_id" name="school_id" value="{{management_schools.school_id}}" required>
        </div>
        <div class="form-group">
            <label for="schoolmanagement_id">schoolMgtID:</label> 
            <input type="number" class="form-control" id="schoolmanagement_id" name="schoolmanagement_id" value="{{management_schools.schoolmanagement_id}}" required>
        </div>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>

{% endblock %}